<h4>Floppfilm-gjetter</h4>

<div style="margin-bottom:2rem" >
  <p>Hvilken film har høyest score på IMDB?</p>
  <p [hidden]="!(this.showCorrectMessage)">Riktig!</p>
  <p [hidden]="!(this.showWrongMessage)">NEiass lol :(</p>
  
  <button [hidden]="!ferdig" class="btn btn-primary" (click)="playAgain()">Prøv igjen</button>
  
</div>

<my-movie-display 
  [movie1]="movie1"
  [movie2]="movie2"
  (clickMovie1Emitter)="guessMovie(movie1)" 
  (clickMovie2Emitter)="guessMovie(movie2)">
</my-movie-display>
